{{#partial "content"}}
    <div class="container-fluid" style="background: linear-gradient(rgba(0,0,0,0.54), rgba(0,0,0,0.55)), url(&quot;assets/img/white%20rhino.jpg&quot;) bottom left / cover no-repeat;height: 50vh;">
        <section class="position-relative py-4 py-xl-5">
            <div class="container position-relative">
                <div class="row d-flex justify-content-center">
                    <div class="col-md-8 col-lg-6 col-xl-5 col-xxl-4">
                        <div class="card mb-5">
                            <div class="card-body p-sm-5">
                                <h2 class="text-center mb-4">Add Sighting</h2>
                                <form method="post" action="/sightHandler">
                                    <div class="mb-3"><select class="form-select" name="animal">
                                        {{#each animals}}
                                            <option value="{{id}}">{{name}}</option>
                                        {{/each}}

                                        </select></div>
                                    <div class="mb-3"><input class="form-control" type="text" id="location-2" name="location" placeholder="Location"></div>
                                    <div class="mb-3"><input class="form-control" type="text" id="ranger-2" name="rangerName" placeholder="Ranger Name"></div>
                                    <div><button class="btn btn-primary d-block w-100" type="submit">Send </button></div>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
    </div>
{{/partial}}

{{> layout.hbs}}